<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav aria-label="navbar navbar-default">
      <ol class="breadcrumbs">    
         <%= link_to "Home", root_path %>
         <% if controller_name == "tasks" %>
           <%= link_to "Tasks", task_list_tasks_path %> > <%= @task_list.name %>
           <% #binding.pry %>
           <% if action_name == "new" %> > 
            <%= "Create #{@task_list.name}" %>
           <% end %>
           <% if action_name == "edit" %> > 
            <%= "Edit #{@task_list.name}" %>
           <% end %>
         <% end %>
         
      </ol>
    </nav>
    <%= yield %>
  </body>
</html>

